extends baseEmail 
block content
  // CONTENT
  p Hi #{firstName},
  p Forgot your password? Submit a patch request with your new password and passwordConfirm to:#{url} or click on the below button
  table.btn.btn-primary(
    role='presentation',
    border='0',
    cellpadding='0',
    cellspacing='0'
  )
    tbody
      tr
        td(align='left')
          table(
            role='presentation',
            border='0',
            cellpadding='0',
            cellspacing='0'
          )
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forgot your password.Please ignore this email!
  p - Hotel Management Software