extends base
//- we extends content to base template
block content
  main.main
      .card-container
        each data in rooms
          .card
            .card__header
              .card__picture
                .card__picture-overlay &nbsp;
                img.card__picture-img(src=`img/rooms/${data.imageCover}` alt=`${data.name}`)
              h3.heading-tertirary
                span=data.name
            .card__details
              h4.card__sub-heading=`${data.roomType} ${data.priceDiscount}% offer`
              p.card__text
                =data.summary
              .card__data
                svg.card__icon
                  use(xlink:href='img/icons.svg#icon-home')
                span=`${data.beds} bed`
              .card__data
                svg.card__icon
                  use(xlink:href='img/icons.svg#icon-clock')
                span=`${data.checkIn} checkIn`
              .card__data
                svg.card__icon
                  use(xlink:href='img/icons.svg#icon-flag')
                span=`${data.roomSize}`
              .card__data
                svg.card__icon
                  use(xlink:href='img/icons.svg#icon-clock')
                span=`${data.checkOut} checkOut`
            .card__footer
              p
                span.card__footer-value= `$${data.costPerNight}`
                |
                span.card__footer-text  per person
              p.card__ratings
                span.card__footer-value= data.ratingsAverage
                |
                span.card__footer-text= `rating (${data.ratingsQuantity})`
              a.btn.btn-text(href= `/room/${data.slug}`) Details

//- indent thick rakhte hole html to pug converter theke copy kore pug ekhane block content thakle 2 space diye past korte hobe
//- each data in tours bolte ekahne tour array er vitor document gula ace segula data hisabe variable dore foreach loop kore render korci proti ta data express e evabe
//- variable amra pug e set kori like span = variable.somethings, string e variable set korte hole template string way te `${variable.something}`
//- option theke data pug e direct variable hisave acess korte chaile = or # diye kora jai
//- href link amra id use na kore slug use korbo , api te jodio id use korci like tour/id but url e slug use korbo ete url look much nicer  and amra / diye suru kori cg eta vujai hostname 127.0.0.1 er pro eta use hobe like host/tour/something
//- pug e manually space deowar jonno | pipe use korte hoi erpr koto space chai seta tab diye empty space kore dite hoi